
### Package Files ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

### Maven ### 
target/

### Gradle ###
*.gradle

### IntelliJ project files ### 
*.iml
*.iws
*.ipr
.idea/
META-INF/

### OS ###
.DS_Store

### Kotlin ###
*.class